body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  width: 25vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-row {
  margin-top: 1em; /* Уменьшаем отступ между строками */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table-row img {
  width: 3em;
  height: 3em; /* Устанавливаем фиксированную высоту для аватарки */
  object-fit: cover; /* Чтобы изображение вписывалось в размеры без искажения */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-info h3,
.user-info p {
  margin: 0; /* Убираем стандартный отступ */
}

.border-ava {
  border: 1px solid #9b5cae;
  border-radius: 50px;
  padding: 0.25rem;
}
