body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-row {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Изменено на flex-start */
  align-items: center;
}

.table-row img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  margin-right: 1em; /* Добавлен отступ справа для изображения */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info h3,
.user-info p {
  margin: 0;
}

.border-ava {
  border: 2px solid #9b5cae;
  border-radius: 50px;
  padding: 0.25rem;
}

.transparent-border {
  border: 2px solid transparent; /* Добавляем прозрачную границу */
  border-radius: 50px;
  padding: 0.25rem;
}
